$color-white: #eceff5;
$color-black: #000000;


$color-primary: #1f2f55;
$color-primary-light-1: #566687;
$color-primary-light-2: #6f84a8;
$color-primary-light-3: #314467;

$color-primary-dark-1: #16274d;
$color-primary-dark-2: #0e1c40;

$color-secondary: #fe0f70;
$color-secondary-light-1: #ffbee3;

$color-tertiary: #ffb020;