.header {
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: .5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background-color: $color-primary-dark-1;
    z-index: 9999;

    &--search {
        width: 50%;

        form {
            display: flex;
            align-items: center;

            button {
                cursor: pointer;
                background-color: transparent;
                border: none;
                padding: 1rem;

                img {
                    width: 2rem;
                    height: 2rem;
                }
            }

            input {
                width: 100%;
                font-family: inherit;
                background-color: transparent;
                caret-color: $color-white;
                border: none;

                @include respond(phone) {
                    font-size: 1.2rem;
                }

                &::placeholder {
                    color: $color-primary-light-2;
                }

                &:focus,
                &:focus-visible {
                    outline: none;
                }
            }
        }

        input {
            padding: 1rem;
        }
    }

    &--user {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 15rem;

        @include respond(tab-land) {
            margin-right: 5rem;
        }

        &-status {

            button {
                cursor: pointer;
                font-family: inherit;
                font-weight: 500;
                padding: 1rem 2rem;
                border-radius: 10px;
                text-transform: uppercase;
                color: $color-white;
                background-color: $color-tertiary;
                border: none;

                @include respond(phone) {
                    font-size: 1.2rem;
                }
            }
        }
        
        &-account {

            a {
                img {
                    width: 5rem;
                    border-radius: 50%;
                    margin-left: 1rem;
                }
            }
        }
    }
}